/* Base */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Containers */

.sign-up {
  background-color: whitesmoke;
  width: 90.5%;
  margin: auto;
  border-bottom: 4px solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

form {
  max-width: 600px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}

fieldset {
  border: none;
  margin: 5px;
  background-color: white;
}

header {
  color: white;
  background-color: darkslategrey;
  height: 75px;
}

.newsletter {
  color: grey;
  padding: 20px 0;
  background-color: whitesmoke;
  width: 95%;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
}

/* General elements */

label {
  display: block;
  margin-bottom: 8px;
}

legend {
  color: black;
  font-weight: 900;
  font-size: 1.2em;
  padding: 20px 0;
  border-top: 2px solid black;
  width: 100%;
}

textarea {
  width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
}

button {
  background-color: lightseagreen;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 92.5%;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
}

footer {
  text-align: center;
  font-style: italic;
  margin-bottom: 100px;
}

/* Others */

.title {
  text-align: center;
  padding-top: 20px;
}

.form-title {
  text-align: center;
  margin: 20px 0;
}

.pitch {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 5px;
  color: lightslategray;
  font-size: 1.1em;
}

.texto {
  margin: 20px 0 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
#state {
  background-color: whitesmoke;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
#state:focus {
  background-color: white;
  color: black;
  border: 2px solid blue;
  transition: 0.4s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover,
#state:hover {
  background-color: azure;
  transition: 0.4s ease-in-out;
}

[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10px;
}

[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

#plain-text {
  margin-bottom: 20px;
}

#zip {
  width: 50%;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  text-align: right;
  color: lightgray;
  font-style: italic;
}

/* State Select Menu */

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

/* Media */

@media (min-width: 768px) {
  form {
    max-width: 600px;
    margin: auto;
  }

  .sign-up {
    width: 95%;
    margin: auto;
    border-bottom: 4px solid black;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  #state {
    background-color: whitesmoke;
    border: none;
    height: 50px;
    margin-bottom: 10px;
    width: 60%;
    padding: 0 20px;
    border-radius: 5px;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus {
    background-color: ghostwhite;
    color: black;
    border: 2px solid blue;
  }

  #zip {
    width: 25%;
  }

  label {
    display: inline-block;
    width: 220px;
    margin-bottom: 8px;
    text-align: left;
  }

  .group-2 {
    width: 98.5%;
    max-width: 600px;
    margin: auto;
  }

  button {
    background-color: lightseagreen;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 5px;
  }
}
